.xs-foreColor {
    position: relative;
}
@keyframes foreColorShow {
    0% {
        display: block;
        opacity: 0;
        transform: translate(-94%, 50%);
    }
    20%{
        opacity: 0;
        transform: translate(-94%, 10%) scale(.95);
    }
    100% {
        opacity: 1;
        transform: translate(-94%, 0) scale(1);
    }
}
.xs-foreColor-show {
    z-index: 9;
    animation: foreColorShow .28s 1 forwards;
}
.xs-foreColor-hide {
    transform: scale(0);
}
#xs-foreColor-box {
    position: absolute;
    left: 50%;
    top: 34px;
    padding: 10px;
    width: 196px;
    height: 320px;
    overflow-y: auto;
    background: var(--xs-nav-bg);
    border-radius: 20px;
    box-sizing: border-box;
    border: calc(1px / 2) solid var(--xs-nav-bg-hover);
}
#xs-foreColor-box::-webkit-scrollbar {
    display: none;
  }
#xs-foreColor-box > span {
    display: inline-block;
    width: 12px;
    margin: 6px 8px;
    height: 12px;
}
#xs-foreColor-box > span:hover {
    transition: .38s;
    transform: scale(1.5);
    border-radius: 50%;
}